/* Main Content Styling */
main {
  padding: 20px 20px;
  max-width: 1500px;
  margin: 0 auto;
  background-color: rgb(250, 249, 249);
}
.containeer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}
.card {
  border-radius: 10px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 17px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
#h2 {
  text-decoration: underline;
 color: #000000;
  font-size: 45px;
 padding-top: 30px;
 padding-bottom: 50px;
 text-align: center;
}
.card h3 {
  margin-top: 15px;
  font-size: 35px;
  color: #000000;
}
.card p {
  text-align: center;
  font-size: 20px;
  color: #000000;
} 
.p{
  font-size: 23px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.card:hover {
  transform: translateY(3px);
  box-shadow: 0 20px 29px rgba(0, 0, 0, 0.2);
}
  .intro{
    margin-top: 200px;
  }
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    .containeer {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 480px) {
    .containeer {
      grid-template-columns: 1fr;
    }
  }
  @media screen and ( max-width: 768px){
    .card h3 {
      font-size: 35px;
    }
  }
  @media screen and ( max-width: 480px){
    .card h3 {
      font-size: 25px;   
    }
  }
