*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}
/* owl carouser */
#wom-category{
    width: 100%;
    max-height: 300px;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#wom-category h1{
    font-size: 40px;
    display: inline;
    color: black;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    padding-right: 30px; 
}
#owl{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.item{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.item img{
    width: 85%;
    height: 95%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.item img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
/* #img{
    height: 160px;
} */

/* filter button */
#filter{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#filter-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    gap: 20px;
    padding: 20px;
}
#filter-btn, #sort-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 50px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
/* #filter-btn::after, #sort-btn::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
#filter-btn:hover::after, #sort-btn:hover::after{
    width: 100%; 
} */

/* main product section */
#product-container{
    display: grid;
    /* grid-template-columns:repeat(auto-fit, minmax(300px, 1fr)); */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0;
    padding: 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.product-item img{
    width: 700%;
    height: 300px; 
    object-fit: cover;
    /* border-radius: 10px; */
    transition: all 0.3s ease-in-out;
}
