
/* navbar */
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

#logo{
    width: 200px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    padding-left: 100px;
    margin-left: 50px;
}  
.navbar-brand{
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

#search{
  background :none;
  border:none;
}
#menu{
  background :none;
  border:none;
  cursor: pointer;
  letter-spacing: 1px;
}
#brand-logo{
  font-size: 25px;
  cursor: pointer;
    
}
#search-profile{
  word-spacing: 7px;
}

/* offcanvas */
#offcanvas-logo{
    padding-left: 50px ;
}

#offcanvass-body{
    font-size: 19px;
}

#main-list{
  list-style: none;
}
#backpack-list,#handbag-list,#wallet-list{
  position: absolute;
  top: 290px;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  display: none;
  z-index: 1;
  border-radius: 10px;
  scroll-behavior: smooth;
  overflow-block: hidden;
}
#men-tag:hover,#women-tag:hover,#men-list:hover,#women-bag:hover,.nav-item:hover{
  cursor: pointer;
  width: 150px;
  border-bottom: 1px solid #5e5f5f62;
  transition: all 0.5s ease-in-out;
  display: block;
}
#men-tag::after,#women-tag::after{
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  content: ;
}
#women-bag,#men-list{
  position: relative;
  width: 200px;
  right: 35px;
  display: block;
}
#handbag-list{
  top: 220px;
  left: 220px;
  width: 200px;
}
#wallet-list{
  top: 230px;
  left: 150px;
  width: 200px;
}
#backpack-list{
  top: 250px;
  left: 220px;
  width: 200px;
}
#backpack-list li,#handbag-list li,#wallet-list li{
  border-bottom: 1px solid #e9ecef;
}


/* banner image */
#banner{
  width: 100%;
  top: 0;
}

/* product details */
#feat-products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
}

#women-products img{
  height: 430px;
}

/* footer */
#footer{
  margin-top: 50px;
  border-top: 1px solid #5e5f5f62;
}
#footer-logo{
  font-size: 1.9rem;
}
#footer-copyright{
  text-decoration: none;
  color: #6c6969;
}
#footer-rights{
  text-align: center;
  justify-content: center;
}
  