.new{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    margin: auto;
    padding: 5px;
    font-size: small;
    text-align: center;

}
:hover.new{
    background-color: black;
    color: rgb(0, 247, 255);
}
/* navbar */
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

#logo{
    width: 200px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    padding-left: 100px;
    margin-left: 50px;
}  
.navbar-brand{
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

#search{
    background :none;
    border:none;
}
#menu{
    background :none;
    border:none;
    cursor: pointer;
    letter-spacing: 1px;
}
#brand-logo{
    font-size: 25px;
    cursor: pointer;
    
}

/* offcanvas */
#offcanvas-logo{
    padding-left: 50px ;
}

#offcanvas-body{
    font-size: 19px;
}
/* Hero Section */
.hero {
    background: url('img/layout..jpg') no-repeat center center/cover fixed; 
    color: rgb(12, 12, 12);
    text-align: center;
    padding: 350px 200px;
    height: 900px;
    width: 1920px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .heros {
    background: url('img/layout.webp') no-repeat center center/cover  fixed; 
    color: rgb(12, 12, 12);
    text-align: center;
    padding: 350px 200px;
    height: 900px;
    width: 1920px;
  }
  
  .heros h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .heros p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .cta-btn {
    padding: 1rem 2rem;
    color: #3a3838;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
  }
   /* Featured Products */
   .featured-products {
    text-align: center;
  }
  
  .featured-products h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    gap: 2rem;
  }
  
  .product-card {
    background: #fff;
    padding: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img {
    
    width: 250px;
    height: 350px;
    border-radius: 10px;
  }
  
  .product-card h3 {
    margin: 1rem 0;
    font-size: 1.4rem;
  }
  
  .product-card p {
    font-size: 1.2rem;
  }
  
  .buy-btn {
    padding: 0.8rem 1.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  